 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .home-slide {
     background-color: #000;
 }

 .apple {
     height: 100px;
     background-color: blue;
 }

 .home-slide .owl-prev,
 .home-slide .owl-next {
     position: absolute;
     top: 15%;
     /* font-size: 200px; */
     /* width: 20px; */
 }

 .home-slide .owl-prev {
     left: -60px;
 }

 .home-slide .owl-next {
     right: -60px;
 }

 .home-slide .owl-prev:hover,
 .home-slide .owl-next:hover {
     background-color: transparent !important;
 }

 .home-slide .owl-dot span {
     width: 20px !important;
 }

 .home-slide .owl-dot.active span {
     width: 30px !important;
     background-color: blue !important;
 }



 /* **************************** */

 .home-slide-2 .owl-prev,
 .home-slide-2 .owl-next {
     position: absolute;
     top: 15%;
     /* font-size: 200px; */
     /* width: 20px; */
 }

 .home-slide-2 .owl-prev {
     left: -60px;
 }

 .home-slide-2 .owl-next {
     right: -60px;
 }

 .home-slide-2 .owl-prev:hover,
 .home-slide-2 .owl-next:hover {
     background-color: transparent !important;
 }

 .home-slide-2 .owl-dots {
     position: absolute;
     top: -60px;
     left: -6px;
 }

 .owl-theme .owl-dots .owl-dot span {
     width: 30px !important;
     height: 30px !important;
     padding: 0 5px;
     margin: 5px 2px;
     background-color: blue;
     color: #000;
     border-radius: 100%;
     border: none;

 }

 .owl-dots .owl-dot {
     margin: 5px 5px;
 }

 .owl-dots .owl-dot button {
     background: #E8E8E8;
     border: none;
     width: 30px;
     height: 30px;
     border-radius: 100%;
     padding: 0 5px;
     color: #000;
     font-size: 15px;
     font-weight: bold;
     cursor: pointer;
 }

 .owl-dots .owl-dot button:focus {
     outline: none;
 }

 .owl-dots .owl-dot.active button {
     color: #fff;
     background: #1A60BB;

 }

 .home-2 .owl-theme .owl-dots .owl-dot:after {
     content: "" !important;
     position: absolute !important;
     left: 0 !important;
     top: 19px !important;
     background: blue;
     width: 100% !important;
     top: 2px !important;
     transform: translate(-50%) !important;
     z-index: -10 !important;
 }

 .line {
     position: relative;
     top: -29px;
     width: 106px;
     height: 2px;
     background-color: #E8E8E8;
 }

 /* .item {
     height: 100px;
     background-color: blue;
 } */


 /* .owl-theme .owl-dots .owl-dot span::after {
     content: "1";
 } */


 /* .home-slide-2 .owl-dot.active span {
     width: 30px !important;
     background-color: blue !important;
 } */

 .clientele-first-section {
     display: flex;
     align-items: center;
 }

 .dots-flot img {
     width: 40px;
     position: relative;
     top: -20px;
     left: 50px;
     /* left: 20px; */
 }